<div class="content-wrapper" style="min-height: {{detailEvent.hgt}}px;">
  <section class="content-header">
    <h1>
      Admin Motelno7
      <small>{{detailEvent.title}}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{detailEvent.title}}</li>
    </ol>
  </section>
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <!-- small box -->
      </div><!-- ./col -->
    </div><!-- /.row -->
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <!-- small box -->
        <div class="pull-left">
          <button class="btn btn-primary btn-flat" data-ng-click="detailEvent.toogleDetailForm()"><i class="fa fa-edit"></i> Edit Event</button>
          <button class="btn btn-danger btn-flat" data-ng-click="detailEvent.toogleDeleteForm()"><i class="fa fa-remove"></i> Delete Event</button>
          <br><br>
        </div>
        <div class="pull-right">
          <p><b>Date: {{ detailEvent.showDate() | date : 'dd/MM/yyyy'}}</b></p>
          <br><br>
        </div>
      </div><!-- ./col -->
    </div><!-- /.row -->
    <div class="row">
      <section class="col-lg-12 connectedSortable" data-ng-show="detailEvent.detailDelete">
        <div class="col-lg-4 col-xs-12 text-center col-lg-offset-4">
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-user-times"></i>
              <h3 class="box-title">Delete Event No. {{detailEvent.param1}}</h3>
              <div class="box-tools pull-right">
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <!-- text input -->
              <div class="row">
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.name.$invalid && !main.eventForm.name.$pristine && submitted }">
                    <div class="col-xs-12">
                      <p>!Confirm Delete.</p>
                    </div>
                  </div>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer clearfix no-border">
                <div class="text-center">
                  <button data-ng-click="detailEvent.cancelDelete()" class="btn btn-danger"><i class="fa fa-remove"></i> Cancel</button>
                  <a type="submit" role="button" class="btn btn-success" ng-click="detailEvent.submitDeleteForm(eventForm)"><i class="fa fa-check"></i> Confirm</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>
    </div>



    <div class="row">

      <section class="col-lg-12 connectedSortable" data-ng-show="detailEvent.detailForm">
        <!-- TO DO List -->

        <div class="box box-primary">
          <div class="box-header">
            <i class="fa fa-user-plus"></i>
            <h3 class="box-title">Edit Event No. {{detailEvent.param1}}</h3>
            <div class="box-tools pull-right">
            </div>
          </div><!-- /.box-header -->
          <form name="eventForm" novalidate>
            <div class="box-body">
              <!-- text input -->
              <div class="row">
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.name.$invalid && !detailEvent.eventForm.name.$pristine && detailEvent.submitted }">
                    <div class="col-xs-6">
                      <label>Name:</label>
                      <input type="text" data-ng-model="detailEvent.copyDetails.name"
                             name="name" class="form-control" placeholder="Name:" required>
                      <p ng-show="eventForm.name.$error.required && detailEvent.submitted" class="help-block">You name is required.</p>

                    </div>
                  </div>
                </div>
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.max_participant.$invalid && !detailEvent.eventForm.max_participant.$pristine && detailEvent.submitted  }">
                    <div class="col-xs-6">
                      <label>Number of Guests:</label>
                      <input type="text" data-ng-model="detailEvent.copyDetails.max_participant"
                             name="max_participant" ng-pattern="/^(0|[1-9][0-9]*)$/" data-ng-maxlength="10" class="form-control" placeholder="Number of Guests:" required>

                      <p class="help-block error-message" ng-show="eventForm.max_participant.$error.required && detailEvent.submitted" class="help-block">You Number of Guests is required.</p>
                      <p class="help-block error-message" ng-show="eventForm.max_participant.$error.maxlength">* Only 10 Characters</p>
                      <p class="help-block error-message" ng-show="eventForm.max_participant.$error.pattern">* Only Numbers</p>

                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.date.$invalid && !detailEvent.eventForm.date.$pristine && detailEvent.submitted  }">
                    <div class="col-xs-6">
                      <label>Date:</label>
                      <p class="input-group">
                        <input type="text" class="form-control" name="date" uib-datepicker-popup ng-model="detailEvent.copyDetails.date" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                      </p>
                      <p ng-show="eventForm.date.$error.required && detailEvent.submitted" class="help-block">You Date is required.</p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.location.$invalid && !detailEvent.eventForm.location.$pristine && detailEvent.submitted  }">
                    <div class="col-xs-6">
                      <label>Location:</label>
                      <input type="text" class="form-control" placeholder="Location:"  id="location"
                             data-ng-model="detailEvent.copyDetails.location" name="location" required />
                      <p ng-show="eventForm.location.$error.required && detailEvent.submitted" class="help-block">You Location is required.</p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.description.$invalid && !detailEvent.eventForm.description.$pristine && detailEvent.submitted  }">
                    <div class="col-xs-12">
                      <label>Description:</label>
                    <textarea class="form-control" placeholder="Description:" id="description" data-ng-maxlength="200"
                              data-ng-model="detailEvent.copyDetails.description" name="description" required>
                                            </textarea>
                      <div class="pull-right"><em style="color:gray">Only 200 Characters</em></div>
                      <p class="help-block error-message" ng-show="eventForm.description.$error.maxlength">* Only 200 Characters</p>
                      <p ng-show="eventForm.description.$error.required && detailEvent.submitted" class="help-block">You Description is required.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <div class="pull-right">
                <a role="button" data-ng-click="detailEvent.cancelEdit()" class="btn btn-danger"><i class="fa fa-remove"></i> Cancel</a>
                <a type="submit" role="button" class="btn btn-success" ng-click="detailEvent.submitForm(eventForm)"><i class="fa fa-cog fa-spin ng-hide" ng-show="detailEvent.isBusy2"></i> <i class="fa fa-check"></i> Submit</a>
              </div>
            </div>
          </form>
          <!--<form name="eventForm" novalidate>
            <div class="box-body">
              &lt;!&ndash; text input &ndash;&gt;
              <div class="row">
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.name.$invalid && !main.eventForm.name.$pristine && submitted }">
                    <div class="col-xs-6">
                      <label>Name:</label>
                      <input type="text" data-ng-model="detailEvent.details.name"
                             name="name" class="form-control" placeholder="Name:" required>
                      <p ng-show="eventForm.name.$error.required && detailEvent.submitted" class="help-block">You name is required.</p>

                    </div>
                  </div>
                </div>
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.max_participant.$invalid && !main.eventForm.max_participant.$pristine && submitted  }">
                    <div class="col-xs-6">
                      <label>Number of Guests:</label>
                      <input type="text" data-ng-model="detailEvent.details.max_participant"
                             name="max_participant" ng-pattern="/^id_[0-9]+$/" ng-maxlength="10" class="form-control" placeholder="Number of Guests:" required >

                      <p ng-show="eventForm.max_participant.$error.required && detailEvent.submitted" class="help-block">You Number of Guests is required.</p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.description.$invalid && !main.eventForm.description.$pristine && submitted  }">
                    <div class="col-xs-12">
                      <label>Description:</label>
                    <textarea class="form-control" placeholder="Description:"
                              data-ng-model="detailEvent.details.description" name="description" required>
                                            </textarea>
                      <p ng-show="eventForm.description.$error.required && detailEvent.submitted" class="help-block">You Description is required.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; /.box-body &ndash;&gt;
            <div class="box-footer clearfix no-border">
              <div class="pull-right">
                <button data-ng-click="detailEvent.toogleDetailForm()" class="btn btn-danger">Cancel</button>
                <a type="submit" role="button" class="btn btn-success" ng-click="detailEvent.submitForm(eventForm)">Submit</a>
              </div>
            </div>
          </form>-->
        </div><!-- /.box -->
      </section>
    </div>
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-8 col-xs-12 connectedSortable" data-ng-show="!detailEvent.detailDelete">
        <!-- TO DO List -->
        <div class="box box-primary">
          <div class="box-header">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">Detail Event No. {{detailEvent.param1}}</h3>
            <div class="box-tools pull-right">
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12">
              <p><b>Name:</b> {{detailEvent.details.name}}</p>
              <p><b>Description:</b> {{detailEvent.details.description}}</p>
              <p><b>Number of Guest:</b> <span class="badge bg-green">{{detailEvent.details.max_participant}}</span></p>
              <p><b>Confirmed Guests:</b> <span class="badge bg-green">{{detailEvent.details.count_members_activo}}</span></p>
              <p><b>Pending Guests (Waiting List):</b> <span class="badge bg-red">{{detailEvent.details.count_members_no_activo}}</span></p>
              <p><b>Date:</b> {{detailEvent.details.date  | date:"MM/dd/yyyy 'at' h:mma"}}.</p>
              <p><b>Location:</b> {{detailEvent.details.location}}.</p>
              <p><b>Code Generate:</b> {{detailEvent.create.code}}</p>
              <p><b>Activated:</b>
                <i class="fa fa-toggle-on active1" ng-if="status == true" ng-click="changeStatus();"></i>
                <i class="fa fa-toggle-on fa-rotate-180 inactive1" ng-if="status == false" ng-click="changeStatus();"></i>
              </p>
            </div>
          </div><!-- /.box-body -->
          <div class="box-footer clearfix no-border">
            <div class="pull-right">
              <a class="btn btn-primary btn-flat" data-ng-click="detailEvent.toogleUpload()"><i class="fa fa-cloud-upload"></i> Upload Image </a>
              <a class="btn btn-success btn-flat" data-ng-click="detailEvent.downloadList()"><i class="fa fa-file-excel-o"></i> Download Guests List </a>
              <a ui-sref="eventUser({id:detailEvent.param1})" class="btn btn-info btn-flat"><i class="fa fa-users"></i> Guests List</a>
              <a  class="btn btn-warning btn-flat" data-ng-click="detailEvent.toogleCodeForm()"><i class="fa fa-cogs"></i> Generate Code</a>
              <br><br>
            </div>
            <!-- <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button> -->
          </div>
        </div><!-- /.box -->
      </section><!-- /.Left col -->
      <section class="col-lg-4 col-xs-12 connectedSortable" data-ng-show="!detailEvent.detailDelete">
        <!-- TO DO List -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <i class="fa fa-users"></i>
            <h3 class="box-title">Guests</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="chart-responsive">
                  <canvas id="doughnut" class="chart chart-doughnut"
                          chart-data="detailEvent.data" chart-colours="detailEvent.colors" chart-labels="detailEvent.labels">
                  </canvas>
                </div><!-- ./chart-responsive -->
              </div><!-- /.col -->
              <div class="col-md-12">
                <ul class="chart-legend clearfix">
                  <li><i class="fa fa-circle-o" style="color:#FF0000"></i> Confirmed Guests</li>
                  <li><i class="fa fa-circle-o" style="color:#008000"></i> Pending Guests (Waiting List)</li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.box-body -->
          <div class="box-footer no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="">Pending Guests (Waiting List) <span class="pull-right" style="color:#008000"> {{detailEvent.details.count_members_no_activo / detailEvent.details.max_participant * 100 | number:0}}%</span></a></li>
              <li><a href="">Confirmed Guests <span class="pull-right" style="color:#FF0000"> {{detailEvent.details.count_members_activo / detailEvent.details.max_participant * 100 | number:0}}%</span></a></li>
            </ul>
          </div><!-- /.footer -->
        </div><!-- /.box --><!-- /.box -->
      </section><!-- /.Left col -->
      <div class="" data-ng-show="detailEvent.uploadForm">
        <form name="myForm">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Image Information</h3>
                  </div><!-- /.box-header -->
                  <div class="box-body no-padding">
                    <br>
                    <div class="">
                      <div class="col-lg-12">
                        <input type="file" ngf-select ng-model="detailEvent.picFile1" name="image_information_english"
                               accept="image/*" ngf-max-size="2MB" required
                               ngf-model-invalid="errorFiles">
                      </div>
                      <div class="col-lg-12 text-center">
                        <br>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="detailEvent.picFile1" class="img-responsive img-max center-block">
                      </div>
                      <div class="col-lg-12">
                        <br>
                        <button ng-click="detailEvent.picFile1 = null" ng-show="detailEvent.picFile1" class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer text-center">
                  </div><!-- /.box-footer -->
                </div><!--/.box -->
              </div><!-- /.col -->
              <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Image Principal</h3>
                  </div><!-- /.box-header -->
                  <div class="box-body no-padding">
                    <br>
                    <div class="">
                      <div class="col-lg-12">
                        <input type="file" ngf-select ng-model="detailEvent.picFile2" class="" name="image_information_english"
                               accept="image/*" ngf-max-size="2MB" required
                               ngf-model-invalid="errorFiles">
                      </div>
                      <div class="col-lg-12 text-center">
                        <br>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="detailEvent.picFile2" class="img-responsive img-max center-block">
                      </div>
                      <div class="col-lg-12">
                        <br>
                        <button ng-click="detailEvent.picFile2 = null" ng-show="detailEvent.picFile2" class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer text-center">
                  </div><!-- /.box-footer -->
                </div><!--/.box -->
              </div><!-- /.col -->
              <div class="col-md-12">
                <button ng-disabled="!myForm.$valid"  ng-click="uploadPic(detailEvent.picFile1, detailEvent.picFile2)" class="btn btn-primary"><i class="fa fa-cog fa-spin ng-hide" ng-show="detailEvent.isBusy"></i> Submit</button>
                <span class="progress" ng-show="picFile.progress >= 0">
                  <div style="width:{{picFile1.progress}}%"
                       ng-bind="detailEvent.picFile1.progress + '%'"></div>
                </span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="col-lg-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Images</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                <table class="table">
                  <tr style="align-content: center">
                    <th>Principal Image</th>
                    <td>
                      <img ngf-thumbnail="detailEvent.details.image_principal" class="img-responsive img-max1 center-block">
                    </td>
                  </tr>
                  <tr>
                    <th>Information Image</th>
                    <td>
                      <img ngf-thumbnail="detailEvent.details.image_information" class="img-responsive img-max1 center-block">
                    </td>

                  </tr>
                  <tr>

                  </tr>
                </table>
              </div>
            </div>
            </div>
        </div>
      </div>
      <br>
      <section class="col-lg-12 col-xs-12 connectedSortable" data-ng-show="detailEvent.listCode">
        <!-- TO DO List -->
        <form name="formCode" novalidate>
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-list-alt"></i>
              <h3 class="box-title">List Code</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>#Id</th>
                        <th>Code</th>
                        <th>Description</th>
                      </tr>
                      <tr data-ng-repeat="code in detailEvent.details.Codes">
                        <td>{{code.id}}</td>
                        <td>{{code.code}}</td>
                        <td>{{code.description}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <div class="pull-right">
              </div>
            </div><!-- /.footer -->
          </div><!-- /.box --><!-- /.box -->
        </form>
      </section>
      <section class="col-lg-12 col-xs-12 connectedSortable" data-ng-show="detailEvent.codeForm">
        <!-- TO DO List -->
        <form name="formCode" novalidate>
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title">Generate Code</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-lg-12">
                  <label for="address">Create Code:</label>
                  <div class="input-group"
                       data-ng-class="{ 'has-error': formCode.code.$invalid && !detailEvent.formCode.eventForm.code.$pristine && detailEvent.submitted  }">
                    <input types="text" name="code" ng-model="detailEvent.create.code" class="form-control" required disabled/>
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="button" tooltip="Create Code" data-ng-click="detailEvent.randString()">
                        <i class="fa fa-magic"></i> Create Code
                      </button>
                    </span>
                  </div>
                  <p ng-show="formCode.code.$error.required && detailEvent.submitted" class="help-block">You Code is required.</p>
                </div>
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : formCode.description.$invalid && !detailEvent.formCode.description.$pristine && detailEvent.submitted }">                    <div class="col-lg-12">
                    <label>Description:</label>
                    <textarea class="form-control" placeholder="Description:"
                              data-ng-model="detailEvent.create.description" name="description" required>
                                            </textarea>
                    <p class="help-block error-message" ng-show="formCode.description.$error.required && detailEvent.submitted" class="help-block">You Description is required.</p>
                  </div>
                  </div>
                </div>
              </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <div class="pull-right">
                <a data-ng-click="detailEvent.toogleCodeForm()" class="btn btn-danger"> <i class="fa fa-remove"></i> Cancel</a>
                <a type="submit" role="button" class="btn btn-success" ng-click="detailEvent.submitFormCode(formCode)"><i class="fa fa-cog fa-spin ng-hide" ng-show="detailEvent.isBusy1"></i> <i class="fa  fa-check"></i> Submit</a>
              </div>
            </div><!-- /.footer -->
          </div><!-- /.box --><!-- /.box -->
        </form>
      </section><!-- /.Left col -->



    </div><!-- /.row (main row) -->
  </section>
</div>
