<div class="content-wrapper" style="min-height: {{main.hgt}}px;">
  <section class="content-header" >
    <h1>
      Admin Motelno7
      <small>{{main.title}}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{main.title}}</li>
    </ol>
  </section>
  <section class="content">
    <!-- Small boxes (Stat box) -->

    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <!-- small box -->
      </div><!-- ./col -->
    </div><!-- /.row -->
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <!-- small box -->
        <div class="pull-left">
          <button class="btn btn-block btn-primary btn-flat" data-ng-click="main.toogleEventForm()"><i class="fa fa-th"></i> Add Event</button>
        </div>
        <div class="pull-right">
          <span class="badge bg-blue"><b>Date: {{ main.showDate() | date : 'MM/dd/yyyy'}}</b></span>
        </div>
        <br><br>
      </div><!-- ./col -->
    </div><!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <section class="col-lg-12 connectedSortable" data-ng-show="main.eventForm">
        <!-- TO DO List -->
        <div class="box box-primary">
          <div class="box-header">
            <i class="fa fa-th"></i>
            <h3 class="box-title">Create Event</h3>
            <div class="box-tools pull-right">
            </div>
          </div><!-- /.box-header -->
          <form name="eventForm" novalidate>
            <div class="box-body">
              <!-- text input -->
              <div class="row">
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.name.$invalid && !main.eventForm.name.$pristine && main.submitted }">
                    <div class="col-xs-6">
                      <label>Name:</label>
                      <input type="text" data-ng-model="main.event.name"
                             name="name" class="form-control" placeholder="Name:" required>
                      <p ng-show="eventForm.name.$error.required && main.submitted" class="help-block">You name is required.</p>

                    </div>
                  </div>
                </div>
                <div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.max_participant.$invalid && !main.eventForm.max_participant.$pristine && main.submitted  }">
                    <div class="col-xs-6">
                      <label>Number of Guests:</label>
                      <input type="text" data-ng-model="main.event.max_participant"
                             name="max_participant" ng-pattern="/^(0|[1-9][0-9]*)$/" data-ng-maxlength="10" class="form-control"
                             placeholder="Number of Guests:" required>
                      <p class="help-block error-message" ng-show="eventForm.max_participant.$error.maxlength">* Only 10 Characters</p>
                      <p class="help-block error-message" ng-show="eventForm.max_participant.$error.pattern">* Only Numbers</p>
                      <p ng-show="eventForm.max_participant.$error.required && main.submitted" class="help-block">You Number of Guests is required.</p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.date.$invalid && !main.eventForm.date.$pristine && main.submitted  }">
                    <div class="col-xs-6">
                      <label>Date:</label>
                      <p class="input-group">
                        <input type="text" class="form-control" name="date" uib-datepicker-popup ng-model="main.event.date" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                      </p>
                      <p ng-show="eventForm.date.$error.required && main.submitted" class="help-block">You Date is required.</p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.description.$invalid && !main.eventForm.description.$pristine && main.submitted  }">
                    <div class="col-xs-6">
                      <label>Location:</label>
                    <input type="text" class="form-control" placeholder="Location:" id="location"
                              data-ng-model="main.event.location" name="location" required />
                      <p ng-show="eventForm.description.$error.required && main.submitted" class="help-block">You Location is required.</p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : eventForm.description.$invalid && !main.eventForm.description.$pristine && main.submitted  }">
                    <div class="col-xs-12">
                      <label>Description:</label>
                    <textarea class="form-control" placeholder="Description:" id="description"
                              data-ng-model="main.event.description" name="description" data-ng-maxlength="200" required>
                                            </textarea>
                      <div class="pull-right"><em style="color:gray">Only 200 Characters</em></div>
                      <p class="help-block error-message" ng-show="eventForm.description.$error.maxlength">* Only 200 Characters</p>
                      <p ng-show="eventForm.description.$error.required && main.submitted" class="help-block">You Description is required.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <div class="pull-right">
                <a role="button" data-ng-click="main.cancel()" class="btn btn-danger"><i class="fa fa-remove"></i> Cancel</a>
                <a type="submit" role="button" class="btn btn-success" ng-click="main.submitForm(eventForm)"><i class="fa fa-check"></i> Submit</a>
              </div>
            </div>
          </form>
        </div><!-- /.box -->
      </section><!-- /.Left col -->
      <!-- Custom Tabs -->
      <div class="">
        <div class="col-lg-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li ng-class="{ active:main.tab === 1 }"><a ng-click="main.selectTab(1)" data-toggle="tab" role="button"><b>Event Actives</b></a></li>
              <li ng-class="{ active:main.tab === 2 }"><a ng-click="main.selectTab(2)" data-toggle="tab" role="button"><b>Event Inactives</b></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" ng-class="{ active:main.tab === 1 }" id="tab_2" ng-show="main.tab === 1">
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table" data-ng-init="getPosts()">
                      <tbody>
                      <tr>
                        <th style="width: 10px" class="text-center">#id</th>
                        <th class="text-center">Name</th>
                        <th>Description</th>
                        <th class="text-center">Assistents</th>
                        <th class="text-center">Confirmed</th>
                        <th class="text-center">Details</th>
                      </tr>
                      <tr data-ng-repeat="event in main.events_active | orderBy:'id'">
                        <td class="text-center">{{event.id }}.</td>
                        <td class="text-center">{{event.name}}</td>
                        <td>
                          <p>{{event.description}}</p>
                        </td>
                        <td class="text-center"><span class="badge bg-red">{{event.max_participant}}</span></td>
                        <td class="text-center"><span class="badge bg-green">{{event.count_members_activo}}</span></td>
                        <td class="text-center">
                          <a ui-sref="eventDetails({id:event.id})" class="btn btn-block btn-primary btn-flat">Details</a>
                        </td>
                      </tr>
                      </tbody></table>
                  </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                  <div class="text-center">
                  </div>
                </div>
              </div><!-- /.tab-pane -->
              <div class="tab-pane" ng-class="{ active:main.tab === 2 }" id="tab_1" ng-show="main.tab === 2">
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table" data-ng-init="getPosts()">
                      <tbody>
                      <tr>
                        <th style="width: 10px" class="text-center">#id</th>
                        <th class="text-center">Name</th>
                        <th>Description</th>
                        <th class="text-center">Assistents</th>
                        <th class="text-center">Confirmed</th>
                        <th class="text-center">Details</th>
                      </tr>
                      <tr data-ng-repeat="event in main.events | filter:{ is_activate: false } | orderBy:'id' ">
                        <td class="text-center">{{event.id }}.</td>
                        <td class="text-center">{{event.name}}</td>
                        <td>
                          <p>{{event.description}}</p>
                        </td>
                        <td class="text-center"><span class="badge bg-red">{{event.max_participant}}</span></td>
                        <td class="text-center"><span class="badge bg-green">{{event.count_members_activo}}</span></td>
                        <td class="text-center">
                          <a ui-sref="eventDetails({id:event.id})" class="btn btn-block btn-primary btn-flat">Details</a>
                        </td>
                      </tr>
                      </tbody></table>
                  </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                  <div class="text-center">
                    <posts-pagination></posts-pagination>
                  </div>
                </div>
              </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
          </div><!-- nav-tabs-custom -->

        </div>
      </div>




      <!-- Left col -->
    </div><!-- /.row (main row) -->
  </section>
</div>
