<div class="content-wrapper" style="min-height: {{mainUser.hgt}}px;">
  <section class="content-header">
    <h1>
      Admin Motelno7
      <small>{{mainUser.title}}</small>
    </h1>
    <hr>

    <h3><i class="fa fa-cloud-upload"></i>Upload Image</h3>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{mainUser.title}}</li>
    </ol>
  </section>
  <div class="content">
    <form name="myForm">
      <div class="row">
        <div class="col-md-4">
          <!-- USERS LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Image Information English</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <br>
              <div class="">
                <div class="col-lg-12">
                  <input type="file" ngf-select ng-model="mainUser.picFile1" name="image_information_english"
                         accept="image/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFiles">
                </div>
                <div class="col-lg-12">
                  <br>
                  <img ng-show="myForm.file.$valid" ngf-thumbnail="mainUser.picFile1" class="img-responsive img-max">
                </div>
                <div class="col-lg-12">
                  <br>
                  <button ng-click="mainUser.picFile1 = null" ng-show="mainUser.picFile1" class="btn btn-danger">Remove</button>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
            </div><!-- /.box-footer -->
          </div><!--/.box -->
        </div><!-- /.col -->
        <div class="col-md-4">
          <!-- USERS LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Image Tonight English</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <br>
              <div class="">
                <div class="col-lg-12">
                  <input type="file" ngf-select ng-model="mainUser.picFile2" class="" name="image_information_english"
                         accept="image/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFiles">
                </div>
                <div class="col-lg-12">
                  <br>
                  <img ng-show="myForm.file.$valid" ngf-thumbnail="mainUser.picFile2" class="img-responsive img-max">
                </div>
                <div class="col-lg-12">
                  <br>
                  <button ng-click="mainUser.picFile2 = null" ng-show="mainUser.picFile2" class="btn btn-danger">Remove</button>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
            </div><!-- /.box-footer -->
          </div><!--/.box -->
        </div><!-- /.col -->
        <div class="col-md-4">
          <!-- USERS LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Image Jack Daniels English</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <br>
              <div class="">
                <div class="col-lg-12">
                  <input type="file" ngf-select ng-model="mainUser.picFile3" name="image_information_english"
                         accept="image/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFiles">
                </div>
                <div class="col-lg-12">
                  <br>
                  <img ng-show="myForm.file.$valid" ngf-thumbnail="mainUser.picFile3" class="img-responsive img-max">
                </div>
                <div class="col-lg-12">
                  <br>
                  <button ng-click="mainUser.picFile3 = null" ng-show="mainUser.picFile3" class="btn btn-danger">Remove</button>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
            </div><!-- /.box-footer -->
          </div><!--/.box -->
        </div><!-- /.col -->
        <div class="col-lg-12">
          <button ng-disabled="!myForm.$valid"  ng-click="uploadPic(mainUser.picFile1, mainUser.picFile2, mainUser.picFile3)" class="btn btn-primary"><i class="fa fa-cog fa-spin ng-hide" ng-show="mainUser.isBusy"></i> Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile1.progress}}%"
             ng-bind="picFile1.progress + '%'"></div>
      </span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
      </div>
    </form>
  </div>

  <section class="content">
  <div class="row">
  <section class="col-lg-12 connectedSortable">
    <!-- TO DO List -->
    <div class="box box-primary">
      <div class="box-header">
        <i class="fa fa-file-picture-o"></i>
        <h3 class="box-title">List Images</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table" data-ng-init="getPosts()">
            <tbody>
              <tr>
                <th style="width: 10px">#id</th>
                <th class="text-center">Image Information English</th>
                <th class="text-center">Image Tonight English</th>
                <th class="text-center">Image Tonight English</th>
              </tr>
              <tr ng-repeat="pic in mainUser.location">
                <td>{{pic.id}}</td>
                <td>
                  <img ngf-thumbnail="pic.image_information_english" class="img-responsive img-max1 center-block">
                </td>
                <td>
                  <img ngf-thumbnail="pic.image_tonight_english" class="img-responsive img-max1 center-block">
                </td>
                <td>
                  <img ngf-thumbnail="pic.image_jackdaniels_english" class="img-responsive img-max1 center-block">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer clearfix no-border">
        <div class="text-center">
          <posts-pagination></posts-pagination>
        </div>
      </div><!-- /.box -->
    </div>
  </section><!-- /.Left col -->
  </div>
  </section>

</div>
