<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Admin Motelno7
      <small>{{mainUser.title}}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{mainUser.title}}</li>
    </ol>
  </section>
  <div class="content">
    <form name="myForm">
      <div class="row">
        <div class="col-md-4">
          <!-- USERS LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Image Information English</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <br>
              <div class="">
                <div class="col-lg-12">
                  <input type="file" ngf-select ng-model="picFile1" name="image_information_english"
                         accept="image/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFiles">
                </div>
                <div class="col-lg-12">
                  <br>
                  <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile1" class="img-responsive img-max">
                </div>
                <div class="col-lg-12">
                  <br>
                  <button ng-click="picFile1 = null" ng-show="picFile1" class="btn btn-danger">Remove</button>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
            </div><!-- /.box-footer -->
          </div><!--/.box -->
        </div><!-- /.col -->
        <div class="col-md-4">
          <!-- USERS LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Image Tonight English</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <br>
              <div class="">
                <div class="col-lg-12">
                  <input type="file" ngf-select ng-model="picFile2" class="" name="image_information_english"
                         accept="image/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFiles">
                </div>
                <div class="col-lg-12">
                  <br>
                  <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile2" class="img-responsive img-max">
                </div>
                <div class="col-lg-12">
                  <br>
                  <button ng-click="picFile2 = null" ng-show="picFile2" class="btn btn-danger">Remove</button>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
            </div><!-- /.box-footer -->
          </div><!--/.box -->
        </div><!-- /.col -->
        <div class="col-md-4">
          <!-- USERS LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Image Jack Daniels English</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <br>
              <div class="">
                <div class="col-lg-12">
                  <input type="file" ngf-select ng-model="picFile3" name="image_information_english"
                         accept="image/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFiles">
                </div>
                <div class="col-lg-12">
                  <br>
                  <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile3" class="img-responsive img-max">
                </div>
                <div class="col-lg-12">
                  <br>
                  <button ng-click="picFile3 = null" ng-show="picFile3" class="btn btn-danger">Remove</button>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
            </div><!-- /.box-footer -->
          </div><!--/.box -->
        </div><!-- /.col -->
        <div class="col-lg-12">
          <button ng-disabled="!myForm.$valid"  ng-click="uploadPic(picFile1, picFile2, picFile3)" class="btn btn-primary">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile1.progress}}%"
             ng-bind="picFile1.progress + '%'"></div>
      </span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
      </div>
    </form>
  </div>
  <div style="height: 280px"></div>
</div>
