<section class="content-header">
  <h1>
    Admin Motelno7
    <small>{{mainUser.title}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">{{mainUser.title}}</li>
  </ol>
</section>
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <!-- small box -->
    </div><!-- ./col -->
  </div><!-- /.row -->
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <!-- small box -->
      <div class="pull-left">
        <button class="btn btn-block btn-primary btn-flat" data-ng-click="mainUser.toogleUserForm()"><i class="fa fa-user-plus"></i> Add User</button>
      </div>
      <div class="pull-right">
        <p><b>Date and Time: {{ mainUser.showDate() | date : 'MM/dd/yyyy'}} {{ mainUser.showDate() | date : 'h:mma'}}</b></p>
      </div>
    </div><!-- ./col -->
    <div class="row" data-ng-show="mainUser.userForm">
      <section class="col-lg-12 connectedSortable">
        <div class="col-lg-12">
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-user-plus"></i>
              <h3 class="box-title">Create User</h3>
              <div class="box-tools pull-right">
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <form role="form">
                <!-- text input -->
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12">
                      <label>Email:</label>
                      <input type="text" class="form-control" placeholder="Email:">
                    </div>
                    <div class="col-xs-12">
                      <label>Name:</label>
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <br><br>
                    <div class="col-xs-12">
                      <br><br>
                      <div class="pull-right">
                        <input type="submit" value="Save" class="btn btn-danger">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div><!-- /.box-body -->
          </div>
        </div>
      </section>
    </div>

  </div><!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
      <!-- TO DO List -->
      <div class="box box-primary">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title">Users List</h3>
          <div class="box-tools pull-right">
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width: 10px">#</th>
                <th>Email</th>
                <th>Name</th>
                <th width="15%">Actions</th>
              </tr>
              <tr data-ng-repeat="participant in mainUser.participants">
                <td>{{participant.id}}.</td>
                <td>{{participant.email}}</td>
                <td>
                  <p>{{participant.name}}.</p>
                </td>
                <td>
                  <a href="">Edit</a>  |
                  <a href="" data-ng-click="mainUser.deleteUser(participant.id)">Delete</a>
                </td>
              </tr>
              </tbody></table>
          </div>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix no-border">
          <!-- <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button> -->
        </div>
      </div><!-- /.box -->
      <div class="col-lg-7 align-center">
        <div class="box-tools">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </section><!-- /.Left col -->
  </div><!-- /.row (main row) -->
</section>
