<section class="content-header">
  <h1>
    Motel No7
    <small>{{title}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <!-- small box -->
    </div><!-- ./col -->
  </div><!-- /.row -->
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <!-- small box -->

      <div class="pull-right">
        <button class="btn btn-primary btn-flat"><i class="fa fa-edit"></i> Edit Event</button>
        <button class="btn btn-danger btn-flat"><i class="fa fa-remove"></i> Delete Event</button>
        <br><br>
      </div>
    </div><!-- ./col -->
  </div><!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-8 col-xs-8 connectedSortable">
      <!-- TO DO List -->
      <div class="box box-primary">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title">Detail Event</h3>
          <div class="box-tools pull-right">
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <p><b>Name:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus distinctio dolores, eaque eligendi excepturi facilis fugit in ipsam ipsum iste iusto maiores neque nesciunt non, quas qui rerum sunt?</p>
          <p><b>Description:</b>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus distinctio dolores, eaque eligendi excepturi facilis fugit in ipsam ipsum iste iusto maiores neque nesciunt non, quas qui rerum sunt?</p>
          <p><b>Number of Guest:</b> <span class="badge bg-green">255</span></p>
          <p><b>Confirmed User:</b> <span class="badge bg-green">150</span></p>
          <p><b>Pending User:</b> <span class="badge bg-red">55</span></p>
          <p><b>Activated:</b>   <input type="checkbox" name="my-checkbox" checked data-size="mini"></p>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix no-border">
          <div class="pull-right">
            <button class="btn btn-info btn-flat"><i class="fa fa-users"></i> User List</button>
            <button class="btn btn-warning btn-flat"><i class="fa fa-cogs"></i> Generate Code</button>
            <br><br>
          </div>
          <!-- <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button> -->
        </div>
      </div><!-- /.box -->
    </section><!-- /.Left col -->
    <section class="col-lg-4 col-xs-4 connectedSortable">
      <!-- TO DO List -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Users</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="chart-responsive">
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="data" chart-labels="labels">
                </canvas>
              </div><!-- ./chart-responsive -->
            </div><!-- /.col -->
            <div class="col-md-12">
              <ul class="chart-legend clearfix">
                <li><i class="fa fa-circle-o text-green"></i> Users Confirmed</li>
                <li><i class="fa fa-circle-o text-red"></i> Users Pending</li>
              </ul>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.box-body -->
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Users Pending <span class="pull-right text-red"> 12%</span></a></li>
            <li><a href="#">Users Confirmed <span class="pull-right text-green"> 4%</span></a></li>
          </ul>
        </div><!-- /.footer -->
      </div><!-- /.box --><!-- /.box -->
    </section><!-- /.Left col -->
  </div><!-- /.row (main row) -->
</section>
